:root {
  --colorFuente: #fafafa;
  --colorFondo: #2c2b2b;
}
.logoC {
  width: 80px;
  height: 50px;
}
.carousel-caption{
  text-align: end;
  color: aliceblue;
  margin-left: 35%;
}
.parrf-cartas {
  text-align: center;
}
.cartas-flex{
  display: flex;
  justify-content: center;
}

#contenido-grid {
  color: var(--colorFuente);
  background-color: rgb(53, 58, 64);
}
img {
  width: 100%;
  height: auto;
}
.boton-main {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: green;
  padding: 5px;
}
.boton-grid {
  background-color: rgb(53, 58, 64);
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: var(--colorFuente);
  padding: 5px;
}
.seccion-3 {
  padding: 5px;
  text-align: center;
}
.seccion-3 p {
  font-size: 12px;
}
.seccion-3 p span {
  text-decoration-line: dotted;
  text-decoration-color: var(--colorFondo);
}
.pform{
  font-size: 0.875em;
  
}
.footer1 {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(30, 80, 110);
  color: white;
  font-size: 0.775em;
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
  flex-wrap: wrap;
}
.footer1 a {
  color: white;
  text-decoration: none;
}
